<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet" type="text/css"> 
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Confirmation</title>
</head>
<body>
        <h3>Votre réservation a bien enregistrée</h3>
        <h3>EcamAir vous souhaite un bon voyage</h3>
        <img src="soleil.jpg" alt="soleil couchant">
</body>
</html>